:root {
  --main-background: #010101;
  --main-color: #26d9fd;
  --main-color-hover: #1db2d6;

  --sub-color: #f76969;
  --sub-color-hover: #f73d3d;

  --main-font: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--main-background);
}

.container {
  max-width: 640px;
  height: 100vh;
  margin: 0 auto;
  background: #fff;
}
