* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: #010101;
}

.container {
  max-width: 640px;
  height: 100vh;
  margin: 0 auto;
  background: aqua;
}
